{
  "openapi": "3.0.3",
  "info": {
    "title": "Bint Saeed — public discovery",
    "version": "1.2.0",
    "description": "Read-only endpoints for understanding the official Bint Saeed modest-fashion storefront. Chinese brand name: 承悦 (BINT SAEED 承悦). Purchases: https://www.bintsaeed.com",
    "contact": {
      "name": "Bint Saeed / 承悦",
      "email": "hello@bintsaeed.com",
      "url": "https://www.bintsaeed.com/contact"
    }
  },
  "servers": [{ "url": "https://www.bintsaeed.com" }],
  "paths": {
    "/api/catalog": {
      "get": {
        "summary": "Public product catalog",
        "description": "JSON list of visible shop products for the storefront.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "products": { "type": "array", "items": { "type": "object" } }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "summary": "Brand context for AI assistants (English)",
        "description": "Plain-text factual overview and citation guidance for models and crawlers that consume llms.txt.",
        "responses": {
          "200": { "description": "text/plain" }
        }
      }
    },
    "/llms/zh.txt": {
      "get": {
        "summary": "Chinese brand context for AI assistants",
        "description": "Simplified Chinese citation brief for 承悦 (BINT SAEED) — China discovery, RedNote, WeChat, shop URLs.",
        "responses": {
          "200": { "description": "text/plain" }
        }
      }
    },
    "/llms/ru.txt": {
      "get": {
        "summary": "Russian brand context for AI assistants",
        "description": "Russian citation brief for Yandex / CIS discovery — shop, UAE heritage hub, Al Talli, Khous, Sadu URLs.",
        "responses": {
          "200": { "description": "text/plain" }
        }
      }
    },
    "/rednote": {
      "get": {
        "summary": "RedNote / 小红书 official account",
        "description": "Official Xiaohongshu presence. Red ID: Bintsaeed_brand. Display name: BINT SAEED 承悦.",
        "responses": {
          "200": { "description": "HTML page" }
        }
      }
    },
    "/wechat": {
      "get": {
        "summary": "WeChat / 微信 official account",
        "description": "Official WeChat presence. WeChat ID: BintSaeed_Brand. Display name: BINT SAEED 承悦.",
        "responses": {
          "200": { "description": "HTML page" }
        }
      }
    }
  }
}
